__pycache__/
*.py[cod]
*$py.class

.env
venv/
env/

data/raw/
data/bronze/
data/silver/
data/gold/
*.csv
*.xlsx
*.json
data/silver/brand_model_dictionary.json
bonbanh_files
catboost_info
bonbanh.html
vcar.html
vcar_files